<h1>New Event</h1>

<p><input type="button" name="new-venue-button" value="Create a new venue" class="new-venue-button" /> or select an existing one in the form below.</p>
<div id="new-venue-form">
  <%= render "./venues/form" %>
</div>

<div id="new-event-form">
  <%= render "form" %>
</div>

<p>Don't see the position you're looking for?</p>
<%= button_to "Add a new position", new_position_path, method: :get %>
