<div class="row top-row">
  <div class="small-12 columns">
    <div class="small-6 columns show-title">
      <h1>New Venue</h1>
    </div>
  </div>
</div>

<div class="row">
  <%= render "form" %>
</div>
