<div class="row">
  <div class="valign-middle">
    <div class="small-6 columns hire">
      <h1>HIRE</h1>
    </div>
  </div>
  <div class="valign-middle">
    <div class="small-6 columns away">
    <h1>AWAY</h1>
  </div>
</div>
