<div class="landing-page">
  <div class="small-2 columns hire">
    <div id="hire">
      <h1>HIRE</h1>
    </div>
  </div>
  <div class="small-2 columns away">
    <div id="away">
      <h1>AWAY</h1>
    </div>
  </div>
</div>


<% if current_user %>
  <%= link_to "Events", events_path %>
<% end %>
