// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "utilities/variables";

.container {
  margin-top: 3.5rem;
}

/*                */
/* New Event Page */
/*                */

#new-venue-form {
  display: none;
}

#add-position-menu {
  display: none;
}

#new-position-form {
  display: none;
}

/*             */
/* Top section */
/*             */

.title {
  height: auto;

  h1 {
    font-family: $brand-font;
    color: $main-color-5;
  }
}

.new-button {
  background: none;
  color: $main-color-5;
  border: 1px solid;
  border-color: $main-color-5;
}

/*      */
/* List */
/*      */

.list-panel {
  height: 40em;
  overflow: auto;
  background: none;
  padding: 0;
}

.events-table {
  background: none;
  margin-top: 0.5rem;

  table {
    width: 100%;
  }

  th {
    color: $main-color-5;
    text-align: center;
  }

  tr td div.info-cell {
    position: relative;
    min-height: 2.5rem;

    div.event-times {
      font-size: 7.5pt;
      font-style: italic;
      text-align: right;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  tr td.venue-info {
    text-align: center;
    font-size: 8pt;
  }

  tr td, a {
    color: $main-color-5;
    line-height: 0.725rem;
  }

  a {
    font-size: 10pt;

  }

  a:hover {
    color: orange;
  }

  table {
    background: none;
    border: none;

    td.buttons {
      text-align: center;
    }

    input {
      background: none;
      color: $main-color-5;
      border: 1px solid;
      border-color: $main-color-5;
      border-radius: 0.5em;

      &.index-delete:hover {
        color: $main-color-5;
        background-color: rgba(255, 0, 0, 0.5);
      }
    }

    & tr.even, & tr.alt, & tr:nth-of-type(even) {
      background-color: rgba(0, 34, 43, 0.5);
    }
  }
}

/*        */
/* Button */
/*        */

.new-button-row {
  height: 25.25rem;
  margin-top: 3.5rem;
}

/*          */
/* Calendar */
/*          */

#event-calendar-panel {
  /* margin-top: 28.75rem; */
  border: none;
  height: 30.8rem;
  overflow: auto;
  background: none;
  padding: 0;
}

iframe.events-calendar {
  border: none;
  width: 29.275rem;
  height: 29.375em;
  scrolling: no;
}

/*              */
/* Details Page */
/*              */

.top-row {
  margin-top: 3.5rem;
}

.show-title {
  text-align: right;
}

.event-details {
  font-size: 10pt;
  font-style: italic;
  text-align: right;
  padding-left: 5rem;
}

#buttons-for-event {
  margin-top: 8rem;
}

.event-edit-delete {
  background: none;
  color: $main-color-5;
  border: 1px solid;
  border-color: $main-color-5;
}

#delete-show:hover {
  background-color: rgba(255, 0, 0, 0.5);
}

.venue-info {
  margin-top: 7rem;
  text-align: left;
  font-size: 10pt;
}

iframe.map {
  width: 400px;
  height: 350px;
  border: 0;
  border-style: none;
}

.venue-address {
  text-align: left;
  font-size: 10pt;
  font-style: italic;
}

#about-description {
  margin-top: 5rem;
  /* background: url(../assets/tree-lights.png) no-repeat center center fixed; */
  /* width: 100%; */
  height: 10rem;
}

.about {
  text-align: right;
}

.description {
  margin-top: 2rem;
  text-align: left;
  font-style: italic;
}

#positions {
  margin-bottom: 5rem;
}

.add-position-button {
  color: $main-color-5;
  background: none;
  border: 1px solid $main-color-5;
  text-align: right;

  &:hover {
    background-color: $main-color-4;
  }
}

#add-position-button-2 {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  font-style: italic;
}

.position-form-fields {
  width: 50%;
  /* float: right; */
}

label {
  line-height: 2.5rem;
  color: $main-color-5;
}

#new-position-button {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}

#calls-table {
  margin-top: 6.8rem;

  table {
    background: none;
    border-radius: 0.5rem;

    & tr.even, & tr.alt, & tr:nth-of-type(even) {
      background-color: rgba(0, 34, 43, 0.5);
    }

    tr td, th {
      color: $main-color-5;
      background: none;
      text-align: center;

      &.call-times {
        font-size: 8pt;
      }
    }

    tr th {
      text-align: center;
    }

    select {
      height: 2rem;
      padding: 0.25rem;
    }

    ul {
      margin-left: 0.4rem;
    }

    li {
      list-style: square;
      font-size: 8pt;
      text-align: left;
    }
  }
}

#call_user_id {
  background: $main-color-5;
  color: $main-color-4;
  border-radius: 0.5rem;
}

input[type="datetime-local"].dropdown-select, select#call_position_id {
  background: $main-color-5;
  color: $main-color-4;
  border-radius: 0.5rem;
/*   width: 60%;
 */  float: right;
}

#new-position-query {
  font-style: italic;
  margin-top: 2rem;
}

#assign-vendor-button {
  background: none;
  color: $main-color-5;
  border: 1px solid $main-color-5;
  border-radius: 0.5rem;
}

#create-position-button {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  font-style: italic;
}

#offer_user_id {
  height: 12rem;
  text-align: right;
  width: 50%;
  background: none;
  color: $main-color-5;
}

#vendors {
  margin-bottom: 5rem;
}

#vendors-emailed {
  margin-top: 6.8rem;

  table {
    background: none;
    border-radius: 0.5rem;

    & tr.even, & tr.alt, & tr:nth-of-type(even) {
      background-color: rgba(0, 34, 43, 0.5);
    }

    tr td, th {
      color: $main-color-5;
      background: none;
    }

    tr th {
      text-align: center;
    }

    select {
      height: 2rem;
      padding: 0.25rem;
    }
  }
}

#create-offer-button {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  font-style: italic;
}
