// Place all the styles related to the venues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#venue-action-button {
  display: block;
}

.label-right {
  text-align: right;
  font-size: 9pt;
}

.fineprint {
  font-style: italic;
  /* text-align: center; */
  font-size: 8pt;
}
